@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0c0b09;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-raleway-sans);
  --font-mono: var(--font-raleway-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c0b09;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Raleway", "Raleway Fallback";
}
